body {
  background-color: #adb5bd;
}

.App {
  text-align: center;
}

.App-header {
  /* min-height: 5vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fdd85d;
}

h1{
  color: #10b6e9;
  font-size: 50px;
  position: absolute;
  left:40%;

}

.App-header h2 {
  font-size: calc(9px + 2vmin);;
}

.Anchor {
  color: #10b6e9;
  text-decoration:none;
}

.Anchor:hover{
  color: tomato;
  text-decoration: underline;
}


td, th {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
  color: #93E9BE;
}

tr:hover {background-color: #ddd;}
tr{
  color: white;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #93E9BE;
  color: white;
}

.responsive {
  width: 100%;
  max-height: 430px;
  height: auto;
  border-radius: 8px;
}

.Intro {
  color:#93E9BE;
  font-size: 70%;
  background: ghostwhite; 
  font-size: 20px; 
  padding: 10px; 
  border: 1px solid lightgray; 
  margin: 10px;
}

.homeAnchor {
  color: whitesmoke;
  text-decoration:none;
}


.homeAnchor:hover {
  color: tomato;
  text-decoration: underline;
}

.GoHome {
  font-size: medium;
  color: tomato;
  position: relative;
  /* left: 20px; */
  background: ghostwhite; 
  font-size: 20px; 
  padding: 15px; 
  border: 1px solid lightgray; 
  margin: 10px;

}

.NewSearch {
  width: 50px;
  height: 20px;
  left: 10px;
  background-color: #93E9BE;
  position:relative;
  border-radius: 8px;
  border-color: #93E9BE;
}

#Search {
  color: #10b6e9;
}


.Button {
  /* background-color: #adb5bd; */
  left: 20px;
  position:relative;
  width: 90px;
  height: 50px;
  left: 30px;
  font-size: medium;
  border-radius: 8px;
}

#zip {
  left:20px;
}

.Warning {
  color: tomato;
}

.Weather {
  color:ghostwhite;
  font-size: 70%;
  background: #93E9BE ; 
  font-size: 20px; 
  padding: 10px; 
  border: 1px solid lightgray; 
  margin: 10px;
  border-radius: 8px;
}